<header class="masthead" style="background-image: url('header-bg.jpg');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome To Recipe App!</span></div>
            <div class="intro-heading text-uppercase"><span>Greetings!</span></div>
            <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">Tell us more</a>
        </div>
    </div>
</header>