<header class="masthead">
    <div class="container-fluid">
        <div class="masthead-subheading">
            <div class="intro-lead-in"><span>Welcome To Recipe App!</span></div>
            <div class="intro-heading text-uppercase"><span>Greetings!</span></div>
            <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">Tell us more</a>
        </div>
    </div>
</header>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Recipe App!</div>
        <div class="masthead-heading text-uppercase">Greetings</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Sign up</a>
    </div>
</header>